* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all_contents .content_2 {
    display: flex;
    background-color: aliceblue; /* rgb(183, 249, 196);*/
    position: relative;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    /* margin-top: 10px; */
    height: 890px;
    width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.all_contents .content_2 .back2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 210px;
    right: 50px;
    height: 500px;
    width: 700px; 
    margin-left: 10px;
    /*margin: 100px 0px 0px 0px;*/ /*top right bottom left*/
}

.all_contents .content_2 .back2 .img2 {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .content_2 .para_2 {
    position: absolute;
    top: 40%;
    left: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 100;
} */

.all_contents .content_2 .para_2 .trusted{
    position: absolute;
    top: 410px;
    left: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    line-height: 70px;
    word-spacing: 3xpx;
    font-weight: 400;
    color: black;
}
