* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all_contents .content_2 {
    background-color: aliceblue;
    position: relative;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    margin-top: 10px;
    height: 850px;
    width: 1710px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.all_contents .content_2 .back2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 900px;
    width: 1500px; 
    margin-left: 110px;
    /*margin: 100px 0px 0px 0px;*/ /*top right bottom left*/
}

/* .content_2 .para_2 {
    position: absolute;
    top: 40%;
    left: 4%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: 100;
} */
.all_contents .content_2 .para_2 .quality{
    position: absolute;
    top: 320px;
    left: 70px;
    font-family: 'Dancing Script', cursive;
    font-size: 54px;
    line-height: 70px;
    word-spacing: 6px;
    font-weight: 100;
    color: black;
}
