* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

.all_contents .content_3 {
    background-color: aliceblue; /* rgb(226, 226, 226);*/
    position: relative;
    scroll-behavior: smooth;
    height: 1300px;
    width: 100%;
}

.all_contents .content_3 .para_3 {  
    width: 100%;
    height: 250px;
    padding-top: 100px;
    margin-top: 90px;
    text-align: center;
    font-family: 'Dancing Script';
    font-family: 'Kaushan Script';
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 60px;
    word-spacing: 8px;
    color: black;
}

.all_contents .content_3 .items {
    width: 1500px;
    height: 900px;
    margin-top: 10px;
    margin-left: 100px;
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 290px 290px;
    grid-template-columns: 430px 430px;
    grid-gap: 120px 170px;
}

.all_contents .content_3 .items .milk, .cheese, .fruits, .shake {
    position: relative;
    background-color: rgb(224, 94, 239);
    width: 430px;
    height: 340px;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
}

.all_contents .content_3 .items .milk:hover, .cheese:hover, .fruits:hover, .shake:hover {
    transform:scale(1.2);
    cursor: pointer;
}

.all_contents .content_3 .items .t {
    border-radius: 20px;
}

.all_contents .content_3 .items .milk .text1 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Dancing Script';
    font-family: 'Kaushan Script';
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 100;
    height: 50px;
    width: 430px;
    margin-top: -5px;
}

.all_contents .content_3 .items .text2 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Dancing Script';
    font-family: 'Kaushan Script';
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 100;
    height: 50px;
    width: 430px;
}

.all_contents .content_3 .items .text3 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Dancing Script';
    font-family: 'Kaushan Script';
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 100;
    height: 50px;
    width: 430px;
}

.all_contents .content_3 .items .text4 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Dancing Script';
    font-family: 'Kaushan Script';
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 100;
    height: 50px;
    width: 430px;
}