* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}   

.all_contents .content_3 {
    position: relative;
    background-color: aliceblue; /* rgb(226, 226, 226);*/
    position: relative;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-position: center;
    height: 1300px;
    width: 100%;
}

.all_contents .content_3 .para_3 {
    margin-top: 100px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: rgb(225, 130, 146);
}
.all_contents .content_3 .items {
    width: 1500px;
    height: 900px;
    margin-top: 60px;
    margin-left: 100px;
    background-color: aliceblue;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 290px 290px;
    grid-template-columns: 430px 430px;
    grid-gap: 120px 170px;
}

.all_contents .content_3 .items .milk, .cheese, .fruits, .shake {
    position: relative;
    background-color: rgb(26, 169, 188);
    width: 430px;
    height: 340px;
    border-radius: 40px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .2s;
}

.all_contents .content_3 .items .milk:hover, .cheese:hover, .fruits:hover, .shake:hover {
    transform:scale(1.2);
}

.all_contents .content_3 .items .t {
    border-radius: 40px;
}

.all_contents .content_3 .items .milk .text1 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 430px;
    margin-top: -5px;
}

.all_contents .content_3 .items .text2 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 430px;
}

.all_contents .content_3 .items .text3 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 430px;
}

.all_contents .content_3 .items .text4 {
    position: absolute;
    /* top: 300px;
    left: 135px; */
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: white;
    font-weight: 600;
    height: 50px;
    width: 430px;
}