* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.all_contents .content_3 {
    position: relative;
    background-color: aliceblue; /* rgb(226, 226, 226);*/
    position: relative;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-position: center;
    height: 900px;
    width: 100%;
}

.all_contents .content_3 .para_3 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 65px;
    font-weight: 600;
    word-spacing: 4px;
    margin-top: 100px;
}

.all_contents .content_3 .discount_div {
    display: flex;
    justify-content: space-evenly;
}

.all_contents .content_3 .discount_div .div_milk {
    display: flex;
    
}