* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all_contents .content_1 {
    background-color: aliceblue; /*rgb(183, 249, 196);  rgb(226, 226, 226);*/
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 0px;
    height: 900px;
    width: 100%;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* border-radius: 30px; */
}

.all_contents .content_1 .back1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 900px;
    width: 100%; 
    /*margin: 100px 0px 0px 0px;*/ /*top right bottom left*/
}

.all_contents .content_1 .back1 .img1 {
    border-radius: 0px;
    filter: brightness(0.8);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* .all_contents .content_1 .back .img {
    padding-left: 100px;
} */

.all_contents .content_1 .para_1 .fresh{
    position: absolute;
    top: 140px;
    left: 60px;
    word-spacing: 6px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 90px;
    font-weight: 700;
    color: white;
}


.all_contents .content_1 .para_1 .fresh_quality {
    position: absolute;
    top: 310px;
    left: 60px;
    width: 600px;
    border-top: 7px solid white;  
}

.all_contents .content_1 .para_1 .quality{
    position: absolute;
    top: 380px;
    left: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    line-height: 70px;
    word-spacing: 4px;
    font-weight: 700;
    font-style: italic;
    color: white;
}
